<div class="toolbar" role="banner">
  <img
    width="40"
    alt="WRC Logo"
    src="https://seeklogo.com/images/W/wrc-logo-98584C3F7E-seeklogo.com.png"
  />

  <div class="container">
    <app-desplegable-banner
      [title]="'Comprar'"
      [items]="[
        {
          label: 'Steam',
          url: 'https://store.steampowered.com/app/1849250/EA_SPORTS_WRC/'
        },
        {
          label: 'Xbox',
          url: 'https://www.xbox.com/es-AR/auth/msa?action=loggedIn&locale_hint=es-AR'
        },
        {
          label: 'Playstation',
          url: 'https://www.playstation.com/es-ar/games/ea-sports-wrc/'
        }
      ]"
    >
    </app-desplegable-banner>
  </div>
</div>
